
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv=Content-Type content="text/html;charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <title>微信安全支付</title>
  <style type="text/css">html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{font:14px/1.5em "Helvetica Neue",Helvetica,Arial,sans-serif;background-color:#efeff4;line-height:1.6}body,h1,h2,h3,h4,h5,p,ul,ol,dl,dd,fieldset,textarea{margin:0}fieldset,legend,textarea,input,button{padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;*font-family:"Helvetica Neue",Helvetica,Arial,sans-serif}ul,ol{padding-left:0;list-style-type:none}a img,fieldset{border:0}a{text-decoration:none}.toolbar{height:30px;text-align:center;background-color:#22282b;color:#fff;padding:7px 0;position:relative}.toolbar .title{font-size:16px;line-height:16px;margin-bottom:4px}.toolbar .sub_title{font-size:10px;line-height:10px}.toolbar .finish{position:absolute;right:10px;top:10px;font-size:16px;color:#21b100}.icon_msg{width:100px;height:100px;vertical-align:middle;display:inline-block;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%}.icon_msg.warn{background-color:#f86161;color:#fff;font-size:60px;font-style:normal}.btn{display:block;margin-left:auto;margin-right:auto;padding-left:14px;padding-right:14px;font-size:16px;text-align:center;text-decoration:none;overflow:visible;height:40px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;color:#fff;line-height:40px;-webkit-tap-highlight-color:rgba(255,255,255,0)}.btn.btn_inline{display:inline-block}.btn_primary{background-color:#04be02}.btn_primary:not(.btn_disabled):visited{color:#fff}.btn_primary:not(.btn_disabled):active{color:rgba(255,255,255,.4);background-color:#039702}.f10{font-size:10px}.f11{font-size:11px}.f12{font-size:12px}.f13{font-size:13px}.f14{font-size:14px}.f15{font-size:15px}.f16{font-size:16px}.f17{font-size:17px}.f18{font-size:18px}.f19{font-size:19px}.f20{font-size:20px}body{font-size:14px}h1,h2,h3,h4,h5{font-weight:400;font-style:normal}h1,.h1{font-size:20px}h2,.h2{font-size:18px}h3,.h3{font-size:16px}h4,.h4{font-size:14px}h5,.h5{font-size:12px}a,a:visited{color:#007aff}.text_color{color:#888}.title_color{color:#000}.desc{color:#b2b2b2}.warn{color:#b71414}.nickname{color:#576b95}.tips{font-size:13px;color:#b2b2b2}body{background-color:#fff}body.msg_dark{background-color:#2e3132;color:#fff}.page_msg{padding:175px 15px 0;text-align:center}.icon_area{margin-bottom:19px}.text_area{margin-bottom:25px}.text_area .title{margin-bottom:12px}.opr_area{margin-bottom:25px}.extra_area{margin-bottom:20px}@media screen and (min-height:416px){.extra_area{position:fixed;left:0;bottom:0;width:100%}}.footer{position:absolute;bottom:20px;color:#b2b2b2;width:100%;text-align:center}@media screen and (max-height:480px){body{padding-bottom:20px}.page_msg{padding-top:160px}.footer{position:relative;top:20px;bottom:0;margin-bottom:20px}}</style>
</head>

<body ontouchstart="">
<div class="container">
  <div class="toolbar" style="display: none">
    <h3 class="title">交易详情</h3>
    <p class="sub_title">微信安全支付</p>
  </div>
  <div class="body">
    <div class="page_msg">
      <div class="text_area">
        <h2 class="title">商品名称：<%= caseinfo.title %></h2>
        <h3>金额：<%= caseinfo.money %></h3>
        <p class="desc">收款方：身边公益</p>
      </div>
      <div class="opr_area">
        <a href="" class="btn btn_primary" id="chooseWXPay">支付</a>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>本交易需在Safari内确认支付</p>
  </div>
</div>

</body>
<script src="/js/zepto.min.js"></script>
<script>
  $("#chooseWXPay").click(function(){
    WeixinJSBridge.invoke(
            "getBrandWCPayRequest", <%-JSON.stringify(payargs)%>, function(res){
              console.info(res);
              if(res.err_msg == "get_brand_wcpay_request:ok" ) {
                window.location.href="/my";
              }
            });
      return false;
  })
</script>
</html>
