<!DOCTYPE html>
<!-- saved from url=(0044)http://webapplayers.com/inspinia_admin-v2.1/ -->
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="format-detection" content="email=no" />

  <title><%= title %></title>

  <link rel="stylesheet" href="/css/base.css" />
  <link rel="stylesheet" href="/css/common.css" />
  <link rel="stylesheet" href="/css/index.css" />

  <script type="text/javascript" src="/js/zepto.min.js"></script>
  <script type="text/javascript" src="/js/TouchSlide.1.1.js"></script>
</head>