body {background: #f5f5f5;}
.main {padding: 0px 0 54px 0;}
.slide, .slide img { width:100%; max-width:480px; vertical-align:bottom; margin:0 auto; }
.slide {height:255px;}
.slide ul { width:100%; }
.slide ul li { float:left; }
.focus { width:100%; margin:0 auto; position:relative; overflow:hidden; }
.focus .hd { width:100%; height:11px;  position:absolute; z-index:1; bottom:90px; text-align:center; }
.focus .hd ul { display:inline-block; height:5px; padding:3px 5px; font-size:0; vertical-align:top; }
.focus .hd ul li { display:inline-block; width:8px; height:8px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; background:#ccc; margin:0 5px;  vertical-align:top; overflow:hidden; }
.focus .hd ul .on { background:#e94963; }
.focus .bd { position:relative; z-index:0; }
.focus .bd ul { overflow:hidden; }
.focus .bd ul li { float:left; position: relative;}
.focus .bd li img { width:100%; background:url(../images/loading.gif) center center no-repeat; }
.focus .bd li a { -webkit-tap-highlight-color:rgba(0, 0, 0, 0);height:160px;overflow: hidden;display:block; }
.focus .info {padding:10px;font-size:12px;height:58px;overflow: hidden;background:#fff;}
.focus .info h3 {color:#00b38a;font-weight: normal;border-left:5px solid #00b38a;font-size:14px;line-height:14px;padding:0 0 0px 10px;}
.focus .info p {margin-top:10px;border-top:1px solid #ddd;padding:5px 0;}

.p-d-comments,.p-d-detail {background:#fff;margin-top:10px;}
.p-d-comments .hd,.p-d-detail .hd {border-bottom:1px solid #ddd;}
.p-d-comments .hd h3, .p-d-detail .hd h3 {display: inline-block;border-bottom:2px solid #00b38a;padding:10px 5px;margin:0 10px;}
.p-d-comments .comments {float:right;padding:10px 0;margin:0 10px;position: relative;}
.p-d-comments .item {border-bottom:1px solid #ddd;padding:10px 0;position: relative}
.p-d-comments .usr-img img{width:50px;height:50px;position: absolute;left:10px;top:10px;}
.p-d-comments .usr-info {margin-left:70px;}
.p-d-comments-cnt {color:#999;}
.p-d-detail .bd  {margin:10px;}
.p-d-detail .bd img,.p-d-detail .bd p {width:100%!important;}

.comment .hd {font-size:14px;color:#fff;padding:10px 0;text-align: center;background: #faa500;font-size:18px;font-family: "微软雅黑"}
.comment .bd {padding:20px;}
.comment .form-group {margin-bottom:10px;}
.comment .form-control {width:100%;padding:5px 10px;box-sizing:border-box}
.comment .form-group.bottom {text-align: center;color:#999;font-size:14px;}
.comment .form-group button {background:#ff8080;border-radius:4px;padding:5px 10%;color:#fff;font-size:16px;margin-top:10px;}