<%- include ../header %>
<div class="main usr">
  <div class="item profile">
    <div class="img-box"><img src="<%= wuser.headimgurl %>" alt=""/></div>
    <span class="name"><%- wuser.nickname %></span>
    <span class="more"></span>
  </div>

  <div class="item">
    <a href="/favlist">
    <i></i>我的关注(<%- wuser.fav.length  %>)
    <span class="more"></span>
    </a>
  </div>

  <div class="item">
    <a href="/mysupports">
    <i></i>我的支持的(<%- supportlen  %>)
    <span class="more"></span>
    </a>
  </div>

  <div class="item">
    <a href="/mycards">
    <i></i>答谢券(<%- wuser.card.length  %>)
    <span class="more"></span>
    </a>
  </div>
</div>
<footer class="nav">
  <a class="item" href="/case" id="footer-ico-home" >
    <span class="ico ico-home"></span>
    <span class="txt">公益中心</span>
  </a>
  <a class="item" href="/card" id="footer-ico-cart" >
    <span class="ico ico-search"></span>
    <span class="txt">兑换</span>
  </a>
  <a class="item selected" href="/my" id="footer-ico-user" >
    <span class="ico ico-user"></span>
    <span class="txt">我的</span>
  </a>
</footer>
</body>
</html>
