<%- include ../header %>
<body>
<!--头部-->
<header class="header clearfix" style="display:none;" >
</header>
<div class="main">
  <% posts.forEach(function (post) { %>
    <div class="card-item">
      <a href="/mycard/<%= post._id %>">
      <div class="card">
        <span class="tag <% if(cardstotal[post._id]  == 1) { %>hide<% } %>"><%- cardstotal[post._id] %></span>
        <span class="price">￥ <%= post.price %> </span>
        <img src="<%- post.thumb %>"  class="card-logo" alt="" />
      </div>
      <p><%= post.title %></p>
      </a>
    </div>
  <% }) %>
</div>

<footer class="nav">
  <a class="item " href="/case" id="footer-ico-home" >
    <span class="ico ico-home"></span>
    <span class="txt">公益中心</span>
  </a>
  <a class="item " href="/card" id="footer-ico-cart" >
    <span class="ico ico-search"></span>
    <span class="txt">兑换</span>

  </a>
  <a class="item selected" href="/my" id="footer-ico-user" >
    <span class="ico ico-user"></span>
    <span class="txt">我的</span>
  </a>
</footer>
</body>
</html>
