<%- include ../header %>
<body>
<!--头部-->
<header class="header clearfix" style="display:none;" >
</header>
<style>

</style>
<div class="main">
    <div class="card-info">
      <p><%= post.title %></p>
      <div class="card-item">
        <a href="/card/<%= post._id %>">
          <div class="card">
            <span class="price">￥ <%= post.price %> </span>
            <img src="<%- post.thumb %>"  class="card-logo" alt="" />
          </div>
        </a>
      </div>
    </div>
  <div class="card-rule"><%- post.detail %></div>

</div>

<footer class="nav">
  <a href="javascript:void(0)" class="btn-exchange" id="useCard">使用</a>
</footer>
<script>
  $(function(){
    $("#useCard").not(".dis").click(function(){
      var url = "http://" + window.location.host + "/useCard/" + window.location.pathname.split('/')[2];
      $.ajax({
        type :"POST",
        url: url,
        success: function(data){
            if(data == "success") {
              alert("使用卡片成功，请查收微信消息！");
              window.location.href = "http://" + window.location.host + "/my"
            }
        }
      });
      return false;
    });
  })
</script>
</body>
</html>

