<%- include ../header %>
<body>
<!--头部-->
<header class="header clearfix" style="display:none;" >
</header>
<style>

</style>
<div class="main">
    <div class="card-info">
      <p>兑换此券要使用<%= post.point %> 积分</p>
      <div class="card-item">
        <a href="/card/<%= post._id %>">
          <div class="card">
            <span class="price">￥ <%= post.price %> </span>
            <img src="<%- post.thumb %>"  class="card-logo" alt="" />
          </div>
          <p><%= post.title %></p>
        </a>
      </div>
    </div>
  <div class="card-rule"><%- post.detail %></div>

</div>

<footer class="nav">
  <a href="javascript:void(0)" class="btn-exchange <% if(!isBuy) { %>dis<% } %>" id="exchange">兑换</a>
</footer>
<script>
  $(function(){

    $("#exchange").not(".dis").click(function(){
      var url = "http://" + window.location.host + "/exchange/" + window.location.pathname.split('/')[2];
      $.ajax({
        type :"POST",
        url: url,
        success: function(data){
            if(data == "success") {
              alert("兑换成功！")
              window.location.href = "http://" + window.location.host + "/card"
            }
        }
      });
      return false;
    });
  })
</script>
</body>
</html>

