<%- include ../header %>
<body>
<!--头部-->
<header class="header clearfix" style="display:none;" >
</header>
<div class="main">
  <div class="user-point">
    您的当前积分 <em><%- wuser.point %></em>
  </div>
  <% posts.forEach(function (post) { %>
  <div class="card-item">
    <a href="/card/<%= post._id %>">
    <div class="card">
      <span class="price">￥ <%= post.price %> </span>
      <img src="<%- post.thumb %>"  class="card-logo" alt="" />
    </div>
    <p><%= post.title %></p>
    </a>
  </div>
  <% }) %>
</div>

<footer class="nav">
  <a class="item " href="/case" id="footer-ico-home" >
    <span class="ico ico-home"></span>
    <span class="txt">公益中心</span>
  </a>
  <a class="item selected" href="/card" id="footer-ico-cart" >
    <span class="ico ico-search"></span>
    <span class="txt">兑换</span>

  </a>
  <a class="item" href="/my" id="footer-ico-user" >
    <span class="ico ico-user"></span>
    <span class="txt">我的</span>
  </a>


</footer>

</body>
</html>
<script type="text/javascript">
  $(function(){
    // 焦点图 flexslider插件
    TouchSlide({
      slideCell:"#focus",
      titCell:".hd ul", 	//开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
      mainCell:".bd ul",
      effect:"leftLoop",
      autoPlay:true,		//自动播放
      autoPage:true, 		//自动分页
      switchLoad:"_src", 	//切换加载，真实图片路径为"_src"
      interTime:5000,
      delayTime:300
    });
  });
</script>
