<%- include ../header %>
<body>
<header class="titlebar">
  <a class="btn-back" href="/case"><i class="ico ico-back"></i></a>
  <span class="title">活动详情</span>
</header>
<div class="main">
  <div class="p-d-info">
    <div class="p-d-img">
      <img src="<%= post.thumb %>">
    </div>
    <div class="p-d-name">
      <%= post.title %>
    </div>

    <ul class="p-d-extra">
      <li><span class="dd">项目时间：</span><span class="dt"><%= post.caseinfo[2] %></span></li>
      <li><span class="dd">目标：</span><span class="dt"><%= post.caseinfo[3] %></span></li>
      <li><span class="dd">项目执行机构：</span><span class="dt"><%- post.caseinfo[0] %></span></li>
      <li><span class="dd">善款接受机构：</span><span class="dt"><%- post.caseinfo[1] %></span></li>
    </ul>
  </div>
  
  <div class="p-d-detail">
    <div class="hd"><h3>项目详情</h3></div>
    <div class="bd"><%- post.post %></div>
  </div>

  <div class="p-d-comments">
    <div class="hd"><h3>爱心留言</h3><a href="/comment/<%= post._id %>" class="comments">留言</a></div>
    <div class="bd">
      <% post.comment.forEach(function (doc) { %>
      <div class="item">
        <div class="usr-img">
          <img src="<%= doc.headimgurl %>" alt=""/>
        </div>
        <div class="usr-info">
          <div class="usr-name"><%= doc.name %></div>
          <div class="p-d-comments-cnt"><%= doc.comment %></div>
        </div>
      </div>
      <% }) %>
  </div>


</div>

<footer class="cart">
  <%  isFav  %>
  <%  if(isFav) { %>
     <a href="javascript:;" class="btn-remove-fav" id="setFav">取消关注</a>
  <% } else  {%>
   <a href="javascript:;" class="btn-add-fav" id="setFav">立即关注</a>
  <% } %>
  <a href="/jssdk?showwxpaytitle=1" class="btn-buy" id="btn-buy">立即支持</a>
</footer>

</div>
<div class="mask"></div>
<div class="surpot-box">
  <div class="mt">请输入捐款金额<s class="close">X</s></div>
  <div class="mc">
    <strong>小善大爱，爱是一种情怀！</strong>
    <div class="pay-type">
      <div class="pay-f-box">
        <div class="item selected">10<em>元</em><s></s></div>
        <div class="item">20<em>元</em><s></s></div>
        <div class="item">50<em>元</em><s></s></div>
        <div class="item">100<em>元</em></div>
      </div>
      <div class="pay-c">
        <div class="item ipt">
          <input type="text" placeholder="其他(最低为一元)"/>
          <em>元</em>
        </div>
      </div>
    </div>
  </div>
  <div class="mb">
    <a href="" class="btn-support">立即捐款</a>
  </div>
</div>

 <script>
    $(function(){
      $("#btn-buy").click(function(){
        var mask = $(".mask");
        var box = $(".surpot-box");
        mask.show();
        box.show();
        return false;
      })

      $(".surpot-box .item").click(function(){
        $(this).parents(".surpot-box").find(".item").removeClass("selected");
        $(this).addClass("selected");
      });

      $(".surpot-box .close").click(function(){
        var mask = $(".mask");
        var box = $(".surpot-box");
        mask.hide();
        box.hide();
        return false;
      });

      $(".btn-support").click(function(){
        var sel = $(".surpot-box .item.selected");
        var val = 1;
        if(sel.hasClass("ipt")) {
          val = sel.find("input").val();
        } else {
          val = parseInt(sel.text());
        }
        if(!isNaN(val) && val >= 10) {
          window.location.href = "http://" + window.location.host + "/pay/" + window.location.pathname.split('/')[2] + "?money=" + val + "&title=" + $(".p-d-name").text();
        } else {
          alert("请输入正确格式的金额，最低为10元")
        }
        return false;
      })

      $("#setFav").click(function(){
        var url = "http://" + window.location.host + "/setFav/" + window.location.pathname.split('/')[2];
        console.info(url);
        if($(this).hasClass("btn-add-fav")){
            $.ajax({
              type :"POST",
              url: url +"?action=add",
              success: function(data){
                if(data == "success") {
                  alert("关注成功！") ;
                  $(".btn-add-fav").removeClass("btn-add-fav").addClass("btn-remove-fav").html("取消关注");
                } else {
                  alert("关注失败！请在微信客户端打开链接") ;
                }
              }
            });

        }else {
          $.ajax({
            type :"POST",
            url: url +"?action=remove",
            success: function(data){
              alert("取消成功！");
              $(".btn-remove-fav").addClass("btn-add-fav").removeClass("btn-remove-fav").html("立即关注");
            }
          });
        }
        return false;
      });
    })
  </script>
</body>
</html>