<%- include ../header %>
<body>
<div class="comment">
  <div class="hd">填写爱心留言</div>
  <div class="bd">
    <form method="post" class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-10"><textarea name="comment" id="" cols="30" rows="10" placeholder="留言内容" class="form-control"></textarea></div>
      </div>
      <div class="form-group bottom">
        <p>文明上网理性发言，遵守评论服务协议</p>
        <div class="col-sm-4 col-sm-offset-2"> <button type="submit" class="btn btn-primary">发表评论</button></div>
      </div>
    </form>
  </div>
</div>

</body>
</html>
