<%- include ../header %>
<body>
<!--头部-->
<header class="header clearfix" style="display:none;" >
</header>
<div class="main">

  <!-- 焦点图 [[ -->
  <section class="slide">
    <div id="focus" class="focus">
      <div class="hd">
        <ul><li class="">1</li><li class="on">2</li><li class="">3</li></ul>
      </div>
      <div class="bd">
        <div class="tempWrap">
          <ul id="top_jpg">
            <% banner.forEach(function (doc) { %>
            <li>
              <a href="/p/<%= doc._id %>"><img src="<%= doc.thumb %>"></a>
              <div class="info">
                <h3> <%= doc.title.substring(0,20) %></h3>
                <p> <%= doc.post.replace(/<\/?[^>]*>/g,'').replace(/[ | ]*\n/g,'\n').substring(0,60)%></p>
              </div>
            </li>
            <% }) %>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="floor">
    <div class="bd">
      <% posts.forEach(function (doc) { %>
      <div class="item">
        <a href="/p/<%= doc._id %>">
          <div class="thumb"><img src="<%= doc.thumb %>"></div>
          <div class="info">
            <p class="p-detail">
              <%= doc.title.substring(0,20) %>
            </p>
          </div>
          <span class="btn-fav"></span>
          <img class="logo" src="/res/logo.png" alt=""/>
        </a>
      </div>
      <% }) %>
    </div>
  </section>
  <div class="ad">
    广告区域
  </div>
</div>

<footer class="nav">
  <a class="item selected" href="/case" id="footer-ico-home" >
    <span class="ico ico-home"></span>
    <span class="txt">公益中心</span>
  </a>
  <a class="item" href="/card" id="footer-ico-cart" >
    <span class="ico ico-search"></span>
    <span class="txt">兑换</span>

  </a>
  <a class="item" href="/my" id="footer-ico-user" >
    <span class="ico ico-user"></span>
    <span class="txt">我的</span>
  </a>


</footer>

</body>
</html>
<script type="text/javascript">
  $(function(){
    // 焦点图 flexslider插件
    TouchSlide({
      slideCell:"#focus",
      titCell:".hd ul", 	//开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
      mainCell:".bd ul",
      effect:"leftLoop",
      autoPlay:true,		//自动播放
      autoPage:true, 		//自动分页
      switchLoad:"_src", 	//切换加载，真实图片路径为"_src"
      interTime:5000,
      delayTime:300
    });
  });
</script>
